
:host {
    display: block;
    margin: 20px;
}

.container {
    display: block;
    background-color: white;
    border-radius: 5pc;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2
}


.content {
    padding: 20px 0 40px;
    box-sizing: border-box;
    position: relative;

}